.menu {
  display: flex;
  align-items: center;
  font-size: rem(18px);
  font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
  flex: 1;

  @include tablets {
    display: none;
  }

  .menu__list {
    display: flex;
    align-items: flex-end;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    .menu__item {
      margin-right: rem(15px);
      &:hover {
        color: $red;
        transition: 1s;
       }
      &:last-child {
        margin-right: 0;
        .menu__link {
          text-decoration: none;
        }
      }
    }
  }
}



